.Form {
  width: 18%;
}

.Form fieldset {
  background-color: rgba(70, 70, 70, 0.25);
  border-radius: 5px;
  color: white;
  border-top: 1px solid black;
}

.Form fieldset legend {
  background-color: rgba(121, 121, 121, 0.55);
  border-radius: 5px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  position: relative;
  right: 65px;
  top: 5px;
  font-size: 25px;
}

.Form input[type="submit"] {
  border-radius: 10px;
  background-color: rgba(0, 147, 233);
  border: none;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  color: white;
  width: 45%;
}
