.Input {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  margin-bottom: 9px;
}
.Input label {
  font-size: 0.75rem;
  display: flex;
  justify-content: left;
}

.Input input {
  padding: 0 5px;
  border-radius: 5px;
}

.Input input:focus {
  outline-color: teal;
}
