.Input {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 85%;
  margin-bottom: 7px;
}
.Input label {
  font-size: 0.75rem;
}

.Input input {
  padding: 0 5px;
  border-radius: 5px;
}

.Input input:focus {
  outline-color: teal;
}
