.StripeDonationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

section {
  box-sizing: border-box;
  width: 190px;
  text-align: justify;
  margin: 0 auto;
  padding: 15px 0;
}
